@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div asp-validation-summary="All"></div>
<div class="wrapper">
    <form asp-action="SendEmail">
        <div class="input-box">
            <input type="text" asp-for="Email" placeholder="Email Address" required="">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="input-box button">
            <input type="submit" value="Reset Password">
        </div>

    </form>
</div>
@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}


