@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="wrapper">
    <div asp-validation-summary="All"></div>
    <form asp-action="ResetPassword">
        <h2>Reset Password</h2>
        <div class="input-box">
            <input type="text" asp-for="NewPassword" placeholder="New Password " required="">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="input-box">
            <input type="text" asp-for="ConfirmNewPassword" placeholder="Confirm New Password" required="">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="input-box button">
            <input type="submit" value="Reset">
        </div>

    </form>
</div>
@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}




